<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csi.sbs.deposit.business.dao.DepositAmountRangeDao">
	<resultMap id="BaseResultMap" type="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CcyType" property="ccytype" jdbcType="VARCHAR" />
	    <result column="CountryCode" property="countrycode" jdbcType="VARCHAR" />
	    <result column="ClearingCode" property="clearingcode" jdbcType="VARCHAR" />
	    <result column="BranchCode" property="branchcode" jdbcType="VARCHAR" />
		<result column="AmountRangeMin" property="amountrangemin" jdbcType="DECIMAL" />
		<result column="AmountRangeMax" property="amountrangemax" jdbcType="DECIMAL" />
	</resultMap>

	<select id="findMany" resultMap="BaseResultMap" parameterType="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity">
		select * from t_depositamount_range
		where 1=1 
		<if test="ccytype != null and ccytype !=''">
		  and CcyType = #{ccytype}
		</if>
		<if test="countrycode != null and countrycode !=''">
		  and CountryCode = #{countrycode}
		</if>
		<if test="clearingcode != null and clearingcode !=''">
		  and ClearingCode = #{clearingcode}
		</if>
		<if test="branchcode != null and branchcode !=''">
		  and BranchCode = #{branchcode}
		</if>
		order by AmountRangeMin asc
	</select>
	
	<select id="groupByCcy" resultMap="BaseResultMap" parameterType="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity">
		select * from t_depositamount_range
		where 1=1 
		group by CcyType asc
	</select>

	<select id="findOne" resultType="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity" parameterType="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity">
		select * from t_depositamount_range
		where 1=1
		<if test="tdAmount != null">
		  and (AmountRangeMin &lt;= #{tdAmount} and AmountRangeMax &gt;= #{tdAmount})
		</if>
		<if test="tdAmount2 != null">
		  and AmountRangeMin &lt;= #{tdAmount}
		</if>
		<if test="ccytype != null and ccytype !=''">
		  and CcyType = #{ccytype}
		</if>
		<if test="countrycode != null and countrycode !=''">
		  and CountryCode = #{countrycode}
		</if>
		<if test="clearingcode != null and clearingcode !=''">
		  and ClearingCode = #{clearingcode}
		</if>
		<if test="branchcode != null and branchcode !=''">
		  and BranchCode = #{branchcode}
		</if>
		<if test="id != null and id != ''">
		  and ID = #{id,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="checkOne" resultType="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity" parameterType="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity">
		select * from t_depositamount_range
		where 1=1
		<if test="tdAmount != null">
		  and (AmountRangeMin &lt;= #{tdAmount} and AmountRangeMax &gt;= #{tdAmount})
		</if>
		<if test="tdAmount2 != null">
		  and AmountRangeMin &lt;= #{tdAmount}
		</if>
		<if test="ccytype != null and ccytype !=''">
		  and CcyType = #{ccytype}
		</if>
		<if test="countrycode != null and countrycode !=''">
		  and CountryCode = #{countrycode}
		</if>
		<if test="clearingcode != null and clearingcode !=''">
		  and ClearingCode = #{clearingcode}
		</if>
		<if test="branchcode != null and branchcode !=''">
		  and BranchCode = #{branchcode}
		</if>
		<if test="id != null and id != ''">
		  and ID != #{id,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="findMax" resultType="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity" parameterType="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity">
		select * from t_depositamount_range
		where AmountRangeMax is null
		<if test="ccytype != null and ccytype !=''">
		  and CcyType = #{ccytype}
		</if>
		<if test="countrycode != null and countrycode !=''">
		  and CountryCode = #{countrycode}
		</if>
		<if test="clearingcode != null and clearingcode !=''">
		  and ClearingCode = #{clearingcode}
		</if>
		<if test="branchcode != null and branchcode !=''">
		  and BranchCode = #{branchcode}
		</if>
	</select>

	<delete id="delete" parameterType="java.lang.String">
		delete from
		t_depositamount_range
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity">
		insert into t_depositamount_range
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="ccytype != null" >
		        CcyType,
		      </if>
		      <if test="countrycode != null" >
		        CountryCode,
		      </if>
		      <if test="clearingcode != null" >
		        ClearingCode,
		      </if>
		      <if test="branchcode != null" >
		        BranchCode,
		      </if>
			<if test="amountrangemin != null">
				AmountRangeMin,
			</if>
			<if test="amountrangemax != null">
				AmountRangeMax,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="ccytype != null" >
		        #{ccytype,jdbcType=VARCHAR},
		      </if>
		      <if test="countrycode != null" >
		        #{countrycode,jdbcType=VARCHAR},
		      </if>
		      <if test="clearingcode != null" >
		        #{clearingcode,jdbcType=VARCHAR},
		      </if>
		      <if test="branchcode != null" >
		        #{branchcode,jdbcType=VARCHAR},
		      </if>
			<if test="amountrangemin != null">
	            #{amountrangemin,jdbcType=DECIMAL},
			</if>
			<if test="amountrangemax != null">
				#{amountrangemax,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.csi.sbs.deposit.business.entity.DepositAmountRangeEntity">
		update t_depositamount_range
		<set>
			  <if test="ccytype != null" >
		        CcyType = #{ccytype,jdbcType=VARCHAR},
		      </if>
		      <if test="countrycode != null" >
		        CountryCode = #{countrycode,jdbcType=VARCHAR},
		      </if>
		      <if test="clearingcode != null" >
		        ClearingCode = #{clearingcode,jdbcType=VARCHAR},
		      </if>
		      <if test="branchcode != null" >
		        BranchCode = #{branchcode,jdbcType=VARCHAR},
		      </if>
			<if test="amountrangemin != null">
				AmountRangeMin = #{amountrangemin,jdbcType=DECIMAL},
			</if>
			<if test="amountrangemax != null">
				AmountRangeMax = #{amountrangemax,jdbcType=DECIMAL},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

</mapper>