<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csi.sbs.deposit.business.dao.TermDepositMasterDao">
	<resultMap id="BaseResultMap" type="com.csi.sbs.deposit.business.entity.TermDepositMasterEntity">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CountryCode" property="countrycode" jdbcType="VARCHAR" />
        <result column="ClearingCode" property="clearingcode" jdbcType="VARCHAR" />
        <result column="BranchCode" property="branchcode" jdbcType="VARCHAR" />
        <result column="SandBoxId" property="sandboxid" jdbcType="VARCHAR" />
        <result column="DockerId" property="dockerid" jdbcType="VARCHAR" />
		<result column="CustomerNumber" property="customernumber" jdbcType="VARCHAR" />
        <result column="RelAccountNumber" property="relaccountnumber" jdbcType="VARCHAR" />
        <result column="CurrencyCode" property="currencycode" jdbcType="VARCHAR" />
        <result column="AccountNumber" property="accountnumber" jdbcType="VARCHAR" />
        <result column="AccountStatus" property="accountstatus" jdbcType="VARCHAR" />
        <result column="LastUpdatedDate" property="lastupdateddate" jdbcType="DECIMAL" />
        <result column="CreateDate" property="createdate" jdbcType="DECIMAL" />
	</resultMap>
	
	<select id="findOne" resultType="com.csi.sbs.deposit.business.entity.TermDepositMasterEntity" parameterType="com.csi.sbs.deposit.business.entity.TermDepositMasterEntity" >
      select * from t_termdeposit_master
      where 1=1
      <!-- 拼接数据隔离公共配置 -->
      <include refid="com.csi.sbs.deposit.business.base.BaseDao.dataIsolationSql"/>
      <if test="accountnumber != null and accountnumber!=''" >
        and AccountNumber = #{accountnumber,jdbcType=VARCHAR}
      </if>
      <if test="currencycode != null and currencycode !=''" >
       and CurrencyCode = #{currencycode}
      </if>
      <if test="customernumber != null and customernumber !=''" >
       and CustomerNumber = #{customernumber}
      </if>
    </select>
    
    <select id="findMany" resultMap="BaseResultMap" parameterType="com.csi.sbs.deposit.business.entity.TermDepositMasterEntity" >
      select * from t_termdeposit_master
      where 1=1
      <!-- 拼接数据隔离公共配置 -->
      <include refid="com.csi.sbs.deposit.business.base.BaseDao.dataIsolationSql"/>
      <if test="relaccountnumber != null and relaccountnumber !=''" >
       and RelAccountNumber = #{relaccountnumber}
      </if>
      <if test="customernumber != null and customernumber !=''" >
       and CustomerNumber = #{customernumber}
      </if>
    </select>

	<insert id="insert" parameterType="com.csi.sbs.deposit.business.entity.TermDepositMasterEntity">
	 insert into t_termdeposit_master
     <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="countrycode != null" >
        CountryCode,
      </if>
      <if test="clearingcode != null" >
        ClearingCode,
      </if>
      <if test="branchcode != null" >
        BranchCode,
      </if>
      <if test="sandboxid != null" >
        SandBoxId,
      </if>
      <if test="dockerid != null" >
        DockerId,
      </if>
      <if test="customernumber != null" >
        CustomerNumber,
      </if>
      <if test="relaccountnumber != null" >
        RelAccountNumber,
      </if>
      <if test="currencycode != null" >
        CurrencyCode,
      </if>
      <if test="accountnumber != null" >
        AccountNumber,
      </if>
      <if test="accountstatus != null" >
        AccountStatus,
      </if>
      <if test="lastupdateddate != null" >
        LastUpdatedDate,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="countrycode != null" >
        #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="clearingcode != null" >
        #{clearingcode,jdbcType=VARCHAR},
      </if>
      <if test="branchcode != null" >
        #{branchcode,jdbcType=VARCHAR},
      </if>
      <if test="sandboxid != null" >
        #{sandboxid,jdbcType=VARCHAR},
      </if>
      <if test="dockerid != null" >
        #{dockerid,jdbcType=VARCHAR},
      </if>
      <if test="customernumber != null" >
        #{customernumber,jdbcType=VARCHAR},
      </if>
      <if test="relaccountnumber != null" >
        #{relaccountnumber,jdbcType=VARCHAR},
      </if>
      <if test="currencycode != null" >
        #{currencycode,jdbcType=VARCHAR},
      </if>
      <if test="accountnumber != null" >
        #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="accountstatus != null" >
        #{accountstatus,jdbcType=VARCHAR},
      </if>
      <if test="lastupdateddate != null" >
        #{lastupdateddate,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DECIMAL},
      </if>
     </trim>
	</insert>
  
  <update id="closeAccount" parameterType="com.csi.sbs.deposit.business.entity.TermDepositMasterEntity" >
    update t_termdeposit_master
    <set >
      <if test="accountstatus != null" >
        AccountStatus = #{accountstatus,jdbcType=VARCHAR},
      </if>
      <if test="lastupdateddate != null" >
        LastUpdatedDate = #{lastupdateddate,jdbcType=DECIMAL},
      </if>
    </set>
    where AccountNumber = #{accountnumber,jdbcType=VARCHAR}
  </update>

</mapper>