<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csi.sbs.deposit.business.dao.TransactionLogDao" >
  <resultMap id="BaseResultMap" type="com.csi.sbs.deposit.business.entity.TransactionLogEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="Reference" property="reference" jdbcType="VARCHAR" />
    <result column="TranSeq" property="transeq" jdbcType="VARCHAR" />
    <result column="AccountNumber" property="accountnumber" jdbcType="VARCHAR" />
    <result column="TranDate" property="trandate" jdbcType="DECIMAL" />
    <result column="Channel" property="channel" jdbcType="VARCHAR" />
    <result column="ChannelID" property="channelid" jdbcType="VARCHAR" />
    <result column="CountryCode" property="countrycode" jdbcType="VARCHAR" />
    <result column="ClearingCode" property="clearingcode" jdbcType="VARCHAR" />
    <result column="BranchCode" property="branchcode" jdbcType="VARCHAR" />
    <result column="SandBoxId" property="sandboxid" jdbcType="VARCHAR" />
    <result column="DockerId" property="dockerid" jdbcType="VARCHAR" />
    <result column="TranType" property="trantype" jdbcType="VARCHAR" />
    <result column="TranAmt" property="tranamt" jdbcType="DECIMAL" />
    <result column="PreviousBalAmt" property="previousbalamt" jdbcType="DECIMAL" />
    <result column="ActualBalAmt" property="actualbalamt" jdbcType="DECIMAL" />
    <result column="RefAccountNumber" property="refaccountnumber" jdbcType="VARCHAR" />
    <result column="TfrSeqNo" property="tfrseqno" jdbcType="VARCHAR" />
    <result column="CrDrMaintInd" property="crdrmaintind" jdbcType="VARCHAR" />
    <result column="TranDesc" property="trandesc" jdbcType="VARCHAR" />
    <result column="Ccy" property="ccy" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findMany" resultMap="BaseResultMap" parameterType="com.csi.sbs.deposit.business.entity.TransactionLogEntity">
    select *  from t_transaction_log   
    where 1=1
    <!-- 拼接数据隔离公共配置 -->
    <include refid="com.csi.sbs.deposit.business.base.BaseDao.dataIsolationSql"/>
    <if test="accountnumber != null and accountnumber !=''" >
       and AccountNumber = #{accountnumber}
    </if>
    <if test="transFromDate != null and transFromDate != ''" >
       and TranDate &gt;= #{transFromDate}
    </if>
    <if test="transToDate != null and transToDate != ''" >
       and TranDate &lt;= #{transToDate}
    </if>
    <if test="trantype != null and trantype !=''" >
       and TranType = #{trantype}
    </if>
    order by TranDate desc
  </select>
   
  <select id="findOne" resultMap="BaseResultMap" parameterType="com.csi.sbs.deposit.business.entity.TransactionLogEntity">
    select *  from t_transaction_log    
    where 1=1
    <if test="transeq != null and transeq !=''" >
       and TranSeq = #{transeq}
    </if>
    <if test="tfrseqno != null and tfrseqno !=''" >
       and TfrSeqNo = #{tfrseqno}
    </if>
  </select>
   
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_transaction_log
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.csi.sbs.deposit.business.entity.TransactionLogEntity" >
    insert into t_transaction_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="reference != null" >
        Reference,
      </if>
      <if test="transeq != null" >
        TranSeq,
      </if>
      <if test="accountnumber != null" >
        AccountNumber,
      </if>
      <if test="trandate != null" >
        TranDate,
      </if>
      <if test="channel != null" >
        Channel,
      </if>
      <if test="channelid != null" >
        ChannelID,
      </if>
      <if test="countrycode != null" >
        CountryCode,
      </if>
      <if test="clearingcode != null" >
        ClearingCode,
      </if>
      <if test="branchcode != null" >
        BranchCode,
      </if>
      <if test="sandboxid != null" >
        SandBoxId,
      </if>
      <if test="dockerid != null" >
        DockerId,
      </if>
      <if test="trantype != null" >
        TranType,
      </if>
      <if test="tranamt != null" >
        TranAmt,
      </if>
      <if test="previousbalamt != null" >
        PreviousBalAmt,
      </if>
      <if test="actualbalamt != null" >
        ActualBalAmt,
      </if>
      <if test="refaccountnumber != null" >
        RefAccountNumber,
      </if>
      <if test="tfrseqno != null" >
        TfrSeqNo,
      </if>
      <if test="crdrmaintind != null" >
        CrDrMaintInd,
      </if>
      <if test="trandesc != null" >
        TranDesc,
      </if>
      <if test="ccy != null" >
        Ccy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="reference != null" >
        #{reference,jdbcType=VARCHAR},
      </if>
      <if test="transeq != null" >
        #{transeq,jdbcType=VARCHAR},
      </if>
      <if test="accountnumber != null" >
        #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="trandate != null" >
        #{trandate,jdbcType=DECIMAL},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelid != null" >
        #{channelid,jdbcType=VARCHAR},
      </if>
      <if test="countrycode != null" >
        #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="clearingcode != null" >
        #{clearingcode,jdbcType=VARCHAR},
      </if>
      <if test="branchcode != null" >
        #{branchcode,jdbcType=VARCHAR},
      </if>
      <if test="sandboxid != null" >
        #{sandboxid,jdbcType=VARCHAR},
      </if>
      <if test="dockerid != null" >
        #{dockerid,jdbcType=VARCHAR},
      </if>
      <if test="trantype != null" >
        #{trantype,jdbcType=VARCHAR},
      </if>
      <if test="tranamt != null" >
        #{tranamt,jdbcType=DECIMAL},
      </if>
      <if test="previousbalamt != null" >
        #{previousbalamt,jdbcType=DECIMAL},
      </if>
      <if test="actualbalamt != null" >
        #{actualbalamt,jdbcType=DECIMAL},
      </if>
      <if test="refaccountnumber != null" >
        #{refaccountnumber,jdbcType=VARCHAR},
      </if>
      <if test="tfrseqno != null" >
        #{tfrseqno,jdbcType=VARCHAR},
      </if>
      <if test="crdrmaintind != null" >
        #{crdrmaintind,jdbcType=VARCHAR},
      </if>
      <if test="trandesc != null" >
        #{trandesc,jdbcType=VARCHAR},
      </if>
      <if test="ccy != null" >
        #{ccy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.csi.sbs.deposit.business.entity.TransactionLogEntity" >
    update t_transaction_log
    <set >
      <if test="reference != null" >
        Reference = #{reference,jdbcType=VARCHAR},
      </if>
      <if test="transeq != null" >
        TranSeq = #{transeq,jdbcType=VARCHAR},
      </if>
      <if test="accountnumber != null" >
        AccountNumber = #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="trandate != null" >
        TranDate = #{trandate,jdbcType=DECIMAL},
      </if>
      <if test="channel != null" >
        Channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelid != null" >
        ChannelID = #{channelid,jdbcType=VARCHAR},
      </if>
      <if test="countrycode != null" >
        CountryCode = #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="clearingcode != null" >
        ClearingCode = #{clearingcode,jdbcType=VARCHAR},
      </if>
      <if test="branchcode != null" >
        BranchCode = #{branchcode,jdbcType=VARCHAR},
      </if>
      <if test="sandboxid != null" >
        SandBoxId = #{sandboxid,jdbcType=VARCHAR},
      </if>
      <if test="dockerid != null" >
        DockerId = #{dockerid,jdbcType=VARCHAR},
      </if>
      <if test="trantype != null" >
        TranType = #{trantype,jdbcType=VARCHAR},
      </if>
      <if test="tranamt != null" >
        TranAmt = #{tranamt,jdbcType=DECIMAL},
      </if>
      <if test="previousbalamt != null" >
        PreviousBalAmt = #{previousbalamt,jdbcType=DECIMAL},
      </if>
      <if test="actualbalamt != null" >
        ActualBalAmt = #{actualbalamt,jdbcType=DECIMAL},
      </if>
      <if test="refaccountnumber != null" >
        RefAccountNumber = #{refaccountnumber,jdbcType=VARCHAR},
      </if>
      <if test="tfrseqno != null" >
        TfrSeqNo = #{tfrseqno,jdbcType=VARCHAR},
      </if>
      <if test="crdrmaintind != null" >
        CrDrMaintInd = #{crdrmaintind,jdbcType=VARCHAR},
      </if>
      <if test="trandesc != null" >
        TranDesc = #{trandesc,jdbcType=VARCHAR},
      </if>
      <if test="ccy != null" >
        Ccy = #{ccy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>